<form id="search-beers" action="/beersearch" method="post" style="text-align:center">
  <input name="beername" type="text" placeholder="Search a beer" />
  <input type="submit" name="submit" value="search" />
</form>

<p class="search-term">Search results for "<%= @title %>"</p>

<div class="beer-list">
  <ul>
  <% if @beers.count > 0 %>
    <% @beers.each do |beer| %>
      <li>
        <img src="<%= beer["beer_label"] %>" alt="" height="100px" width="100px">
        <h5 class="name"><%= beer["beer_name"] %></h5>
        <p class="attribute">Style: <%= beer["beer_style"] %></p>
        <p class="attribute">ABV: <%= beer["beer_abv"] %></p>
      </li>
    <% end %>
  <% else %>
    <li>Sorry, but I guess Tim hasn't been drinking lately.</li>
  <% end %>
  </ul>
</div>
